/*Note Goat Title*/
.custom-font {
    font-family: Arial, sans-serif;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: -30px;
}

.rectangle-rounded {
    width: 500px;
    height: 100px;
    border-radius: 10px; /* Adjust the border radius to control the roundness of the rectangle */
    background-color: #fff16e;
    padding: 20px; /* Padding around the content inside the rectangle */
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    position: relative; /* Positioning relative to its container */
    top: -240px;
    left: 682px;
    align-content: center;
    z-index:-1;
}


/* Images*/
.goat img {
    position: absolute; 
    top: 0px;
    left: 475px;
    width: 275px;
    height: auto;
    transform: rotate(-5deg);
    z-index:-2;
}

.paper img {
    position: absolute;
    top: 190px;
    left: 555px;
    width: 820px;
    height: auto;
    transform: rotate(-8.5deg);
    z-index:-2;
}

.pinksticky img {
    position: absolute;
    top: 190px;
    left: 670px;
    width: 600px;
    height: auto;
    transform: rotate(-1deg);
    z-index:-2;
}

.sticky img {
    position: absolute;
    top: 0px;
    left: 1150px;
    width: 225px; 
    height: auto;
    transform: rotate(5deg);
    z-index:-3;
}

/* Form labels */
label {
    font-family: Arial, sans-serif;
    font-size: 22px;
    font-weight: bold; /* Make labels bold */
    margin-top: 5px; /* Add some margin to the top */
    display: block; /* Make labels block-level elements */
}

input[type="text"],
input[type="email"],
textarea {
    font-family: Arial, sans-serif;
    width: 100%; /* Set width to 100% */
    padding: 10px; /* Add padding */
    font-size: 15px; /* Set font size */
    border-radius: 5px; /* Add border-radius */
    border: 1px solid #ccc; /* Add border */
    margin-bottom: 5px; /* Add margin to the bottom */
}

#addNoteForm {
    font-family: Arial, sans-serif;
    font-weight: bold;
    max-width: 400px; /* Set max-width */
    margin: 0 auto; /* Center the form horizontally */
    padding: 0px; /* Adjust height of all the forms */
    border-radius: 0px; /* Add border-radius */
    position: relative;
    top: -110px;
}